* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --bg_color: rgba(8, 44, 127, 0.644);
  --green: #2bfa19;
  --dim__red: #8f7979;
  --red_color: rgba(192, 112, 112, 1);
  --white: #ececece5;
  --red_green_gradient: linear-gradient(
    99.25deg,
    #7093c063 3.51%,
    rgba(107, 125, 137, 0.21) 98.47%
  );
}

body {
  /* background-color: var(--bg_color); */
  background: rgba(25, 62, 97, 0.774);
  /* background: linear-gradient(99.25deg, rgba(25, 62, 97, 0.712) 40%, rgba(85, 160, 165, 0.308) 90%) ; */
}

html {
  scroll-behavior: smooth;
}

.web__content {
  max-width: 1400px;
  margin: 0px auto;
}

header,
nav,
nav ul,
nav ul li {
  background-color: gradient;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: auto;
  justify-self: center;
  padding: 0px 20px;
}

.breadcumb {
  background: url("../assets/images/breadcumb_bg2.jpg"), var(--bg_color);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcumb h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--white);
}

/* .breadcumb .heading{
    margin-bottom: 40px;
  } */

header.scrolled {
  position: sticky;
  top: 0px;
  padding: 3px 0px;
  background-color: var(--bg_color);
  box-shadow: 2px 1px 4px 0.1px #1c3f58;
  z-index: 100;
}

.navigation__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
}

.navigation__bar .logo {
  background-color: #ffffffa9;
}
.navigation__bar ul {
  position: relative;
  display: flex;
  align-items: center;
}
.navigation__bar ul a {
  padding: 15px 10px;
  margin: 1px;
  color: var(--white);
  font-weight: 500;
  font-size: 20;
  display: block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: 0.5s ease-in-out all;
  border: 2px solid transparent;
}

.navigation__bar ul a:hover,
.navigation__bar ul a.active {
  border-bottom: #2b2949 2px solid;
  /* color:rgba(13,153,225, 1); */
  color: #ffffff;
  font-weight: 900;
  background: var(--red_green_gradient);
}

.call__to__action a {
  background: var(--red_green_gradient);
  color: var(--white);
  border-radius: 30px;
  padding: 8px 25px;
}

li.call__to__action a {
  /* background: transparent; */
  background-color: #b4aeae7a;
}
li.call__to__action {
  display: none;
}
li.call__to__action a:hover {
  color: black;
}
.menu__toogle i{
  font-size: 30px;
  color: white;
}
.menu__toogle,
#desktop-nav-toggle {
  display: none;
}

.menu__toogle i:hover {
  cursor: pointer;
}

/* Hero section */

#hero {
  background-image: url("../assets//images/hero-bg.jpg");
  /* background-position: 100% 100%; */
  height: 620px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red_green_gradient);
}

#hero .hero__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* background: var(--red_green_gradient); */
  width: 100%;
}

#hero .hero__content .title {
  color: #ffffff;
  font-size: 70px;
  margin: 30px auto;
}

#hero .hero__content .description {
  color: #fff;
  margin: 20px;
  font-size: 24px;
  max-width: 600px;
  text-align: justify;
  line-height: 1.4em;
}
#hero .hero__content .call__to__action {
  background-color: rgb(14, 155, 225);
  color: #fff;
  padding: 15px;
}

/* About us */

#aboutus {
  /* background-color: var(--bg_color) ; */
  /* background: linear-gradient(bottom, 40% var(--bg_color) , 90 var(--white)) ; */
  background: var(--bg_color);
  background: linear-gradient(
    7deg,
    rgb(24, 62, 97) 30%,
    rgba(14, 155, 225, 0.137) 80%
  );
}

#aboutus {
  text-align: center;
  margin: 100px auto;
}

.title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__container .title {
  color: white;
  font-size: 40px;
  width: fit-content;
  margin: 30px auto;
}

.title__container .sub__title {
  color: white;
  max-width: 400px;
  line-height: 1.5em;
}

#aboutus .aboutus__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
}

.aboutus__content .description__text {
  max-width: 400px;
  color: rgba(238, 238, 238, 0.986);
  text-align: justify;
  line-height: 1.6;
  font-size: 20px;
}

.aboutus__description .more__about {
  display: flex;
  margin-top: 20px;
}

.aboutus__description .more__about a {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(78, 107, 136);
  border: 2px solid transparent;
  color: white;
  transition: 0.5s ease-in-out all;
}

.aboutus__description .more__about a:hover {
  background-color: transparent;
  background-color: rgb(109, 128, 148);
}

#aboutus .aboutus__content .image__container{
  max-width: 50%;
}
#aboutus .aboutus__content .image__container img{
  width: 100%;
}

/* mission Vision */

#aboutus .mission__vision {
  display: flex;
  align-items: center;
}

#aboutus .mission__vision .mission__vision__img {
  max-width: 50%;
  /* background-color: #dff2ff11; */
}
#aboutus .mission__vision .mission__vision__img img{
  width: 100%;
}

.mission__vision .mission__vision_description {
  background: url("../assets/images/img50.svg");
  object-fit: fill;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.mission__vision_description > div {
  display: flex;
  margin: 4% 10%;
  align-items: center;
}
.mission__vision_description .title {
  text-align: start;
  margin: 10px 0px;
  font-size: 22px;
  color: #fff;
}
.mission__vision_description p {
  text-align: start;
  line-height: 1.4em;
  /* color: rgb(238, 238, 238); */
  color: #e6e6e6;
}
.mission__vision_description .vision {
  margin-left: 20%;
  align-self: flex-end;
}
.mission__vision_description .mission__desc {
  max-width: 500px;
  margin: 10px;
}
.mission__vision_description i {
  color: var(--bg_color);
}

/* services */

#services {
  margin: 40px auto;
  padding: 20px 0px;
  /* background-color: rgba(91, 123, 153, 0.397); */
}

.services__content {
  position: relative;
}

.services__content::before {
  content: "";
  width: 20px;
  height: 100%;
  background-color: rgb(100, 129, 160);
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
}

.services__content .service__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 400px;
  margin: 120px 2px;
  padding: 20px;
  background-color: rgba(91, 123, 153, 0.158);

}




.services__content .service__item:nth-child(even) {
  flex-direction: row-reverse;
  position: relative;
}

.service__item .service__desc {
  background-color: rgb(100, 129, 160);
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.service__item .service__desc .service__title {
  width: fit-content;
  margin: 5% auto;
  font-size: 29px;
  color: #ffffff;
}
.service__item .service__desc .service_desc__text {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5%;
  line-height: 1.5;
  font-size: 20px;
  color: #e6e6e6;
  position: relative;
}

.service__item .service__img {
  width: 40% !important;
  /* background-color: #8f7979; */
}
.service__item .service__img img {
  height: 100%;
  max-width: 100%;
}


/*  art screw */

 .service__item:nth-child(even) .service__desc::before,
  .service__item:nth-child(even) .service__desc::after {
  content: "";
  width: 36%;
  height: 30px;
  background-color: rgb(170, 179, 170);
  position: absolute;

}


.service__item:nth-child(even) .service__desc::before{
  top: 50%;
  transform: translateY(-50%);
  right: -28%;
}
 .service__item:nth-child(even) .service__desc::after {
  top: 51%;
  transform: translateY(-51%);
  right: -28.5%;
  z-index: -1;
}


.service__item:nth-child(even) .service__desc span.screw1,
.service__item:nth-child(odd) .service__desc span.screw1 {
  background-color: rgb(196, 196, 196);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.01em solid #81878ba8;
}
.service__item:nth-child(even) .service__desc span.screw1 {
  right: -26.5%;
}

.service__item:nth-child(odd) .service__desc span.screw1 {

  left: -26.5%;
}


.service__item:nth-child(even) .service__desc span.screw2 {
  content: "";
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translate(-50%, -50%);
  border: 0.01em solid #81878ba8;
}

.services__content
  .service__item:nth-child(even)
  .service__desc
  span.screw1::before {
  content: "\2605";
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #333e52;
}


.services__content
  .service__item:nth-child(even)
  .service__desc
  span.screw2::before {
  content: "\2605";
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #333e52;
}



.service__item:nth-child(odd) .service__desc::before,
.service__item:nth-child(odd) .service__desc::after{
  content: "";
  width: 36%;
  height: 30px;
  background-color: rgba(170, 179, 170, 0.8);
  position: absolute;
}

.service__item:nth-child(odd) .service__desc::before {
  top: 50%;
  transform: translateY(-50%);
  left: -28%;
}

.service__item:nth-child(odd) .service__desc::after {
  top: 51%;
  transform: translateY(-51%);
  left: -28.5%;
  z-index: -1;
}




.service__item:nth-child(odd) .service__desc span.screw1::before {
  content: "\2605";
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #333e52;
}



/* odd */

.service__item:nth-child(odd) .service__desc span.screw2 {
  content: "";
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.01em solid #81878ba8;
}

  .service__item:nth-child(odd)
  .service__desc
  span.screw2::before {
  content: "\2605";
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #333e52;
}


/* effects */
.service__item:nth-child(odd):hover .service__desc span.screw2 {

  border: 0.01em solid #fff;
  transition: .5s  ease-in-out all;
}



